# Тип хранилища: memory | postgres
# По умолчанию: memory
# При значении "postgres" необходимо корректно задать PG_DSN
STORAGE_TYPE=memory

# PostgreSQL DSN для подключения к базе данных
# Используется только при STORAGE_TYPE=postgres
# Формат: postgres://user:pass@host:port/db?sslmode=disable
# По умолчанию: postgres://user:pass@localhost:5432/shortener?sslmode=disable
PG_DSN=postgres://user:pass@localhost:5432/shortener?sslmode=disable

# Порт HTTP-сервера
# По умолчанию: :8080
PORT=:8080